.title {
  text-align: center;
  text-decoration: underline;
  font-size: 48px;
  font-weight: bold;
}
.education {
font-style: italic;
font-size: 18px;
}
.work {
  font-size: 18px;
}
.restaurant {
  text-decoration: underline;
}
.skills {
  font-weight: bold;
  font-size: 18px;
}
